DOC_SPECS=[{"url": "https://ccn-api-stage.cleancitynetworks.com/api.json", "name": "CCN API"}, {"url": "https://haulla-api-stage.haulla.com/generators/api.json", "name": "Haulla Generator API"}, {"url": "https://haulla-api-stage.haulla.com/haulers/api.json", "name": "Haulla Hauler API"}, {"url": "https://api-stage.erp-origin.cleancitynetworks.com/api/api.json", "name": "ERP API"}]
